In [25]:
from pandas.core.arrays.sparse import dtype
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import *
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import re
from bs4 import BeautifulSoup
from time import sleep
import psycopg2
from datetime import date
import textdistance

In [86]:

territory_name = 'New York206'
count = ''

territories_to_scrape = pd.read_csv("/Users/justinbenfit/Desktop/yellowpages_scrape/territories_postal_codes.csv")
territories_to_scrape.query(f'territory_name == "{territory_name}"', inplace=True)
# territories_to_scrape = territories_to_scrape.head(count)
postal_codes = list(territories_to_scrape["postal_code"])
postal_codes = [str(x) for x in postal_codes]
rev = postal_codes[::-1]

print(rev)
# print(postal_codes)
# print(len(postal_codes))

['14626', '14625', '14624', '14623', '14622', '14621', '14620', '14619', '14618', '14617', '14616', '14615', '14614', '14613', '14612', '14611', '14610', '14609', '14608', '14607', '14606', '14605', '14604', '14603', '14602', '14601', '14592', '14591', '14590', '14589', '14588', '14586', '14585', '14580', '14572', '14571', '14569', '14568', '14564', '14563', '14561', '14560', '14559', '14558', '14557', '14556', '14555', '14551', '14550', '14549', '14548', '14547', '14546', '14545', '14544', '14543', '14542', '14541', '14539', '14538', '14537', '14536', '14534', '14533', '14532', '14530', '14529', '14527', '14526', '14525', '14522', '14521', '14520', '14519', '14518', '14517', '14516', '14515', '14514', '14513', '14512', '14511', '14510', '14508', '14507', '14506', '14505', '14504', '14502', '14489', '14488', '14487', '14486', '14485', '14482', '14481', '14480', '14479', '14478', '14477', '14476', '14475', '14472', '14471', '14470', '14469', '14468', '14467', '14466', '14464', '14463', '14462', '14461', '14456', '14454', '14453', '14452', '14450', '14449', '14445', '14443', '14441', '14437', '14435', '14433', '14432', '14430', '14429', '14428', '14427', '14425', '14424', '14423', '14422', '14420', '14418', '14416', '14415', '14414', '14413', '14411', '14410', '14305', '14304', '14303', '14302', '14301', '14280', '14276', '14273', '14272', '14270', '14269', '14267', '14265', '14264', '14263', '14261', '14260', '14241', '14240', '14233', '14231', '14228', '14227', '14226', '14225', '14224', '14223', '14222', '8870', '8834', '8803', '8557', '8556', '8099', '7829']

In [97]:
territories_to_scrape = pd.read_csv("/Users/justinbenfit/Desktop/yellowpages_scrape/territories_postal_codes.csv")
# print(territories_to_scrape.head())
# print(territories_to_scrape[territories_to_scrape['postal_code'] == 99518].index.values)
print(territories_to_scrape.loc[17:])

       territory_id territory_name           userid podium_territory_id  \
17                1        Alaska1  0051P000003mgV2     aD05G00000004ML
18                1        Alaska1  0051P000003mgV2     aD05G00000004ML
19                1        Alaska1  0051P000003mgV2     aD05G00000004ML
20                1        Alaska1  0051P000003mgV2     aD05G00000004ML
21                1        Alaska1  0051P000003mgV2     aD05G00000004ML
...             ...            ...              ...                 ...
32419           228       Maine228  0051a000001os7X     aD05G00000004Mx
32420           228       Maine228  0051a000001os7X     aD05G00000004Mx
32421           228       Maine228  0051a000001os7X     aD05G00000004Mx
32422           228       Maine228  0051a000001os7X     aD05G00000004Mx
32423           228       Maine228  0051a000001os7X     aD05G00000004Mx

            owner_name  postal_code
17         Tyler Dukes        99518
18         Tyler Dukes        99519
19         Tyler Dukes        99520
20         Tyler Dukes        99521
21         Tyler Dukes        99522
...                ...          ...
32419  Isaac Hernandez         4223
32420  Isaac Hernandez         4230
32421  Isaac Hernandez         4565
32422  Isaac Hernandez         5823
32423  Isaac Hernandez         5849

[32407 rows x 6 columns]

In [75]:
import pandas as pd

df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['test', 'teseract', 'timtamslam', 'A3', 'A4', 'A5']})

other = pd.DataFrame({'key1': ['K0', 'K1', 'K2'],
                      'B': ['test', 'teseracts', 'trophycase'],
                      "Phone": ['503-555-6666','+(541)-555-5111','555-555-5555 ext. 5555']})

In [76]:
other['Phone'] = other['Phone'].str.replace(r"[+()\s\s-]+|ext.\s.+","")
print(other)

  key1           B       Phone
0   K0        test  5035556666
1   K1   teseracts  5415555111
2   K2  trophycase  5555555555

<ipython-input-76-c873c25cd60e>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  other['Phone'] = other['Phone'].str.replace(r"[+()\s\s-]+|ext.\s.+","")

In [93]:
df = df.merge(other, how='left', left_on='key', right_on='key1')
df = df.dropna(axis = 0, how ='any')
print(df)

  key           A key1           B
0  K0        test   K0        test
1  K1    teseract   K1   teseracts
2  K2  timtamslam   K2  trophycase

In [94]:
df["distance"] = df.loc[:, ["A","B"]].apply(lambda x: textdistance.jaro_winkler(*x), axis=1)
print(df)

  key           A key1           B  distance
0  K0        test   K0        test  1.000000
1  K1    teseract   K1   teseracts  0.977778
2  K2  timtamslam   K2  trophycase  0.533333

In [95]:
def get_company_name(df):
    company_name = [col for col in df if col.lower().startswith('key')]
    print(company_name) 
get_company_name(df)

['key', 'key1']

In [81]:
s = pd.Series(['AL', "MI", 'MT', 'OR'], name= "State")
def create_states_dict():
    abr_states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY", "RI", "ON", "AB", "BC", "DC", "NB"]
    state_names = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming", "Rhode Island", "Ontario", "Alberta", "British Columbia", "Washington D.C.", "New Brunswick"]
    zip_iterator = zip(abr_states, state_names)
    a_dictionary = dict(zip_iterator)
    return a_dictionary
states_dict = create_states_dict()
s.replace(states_dict, inplace=True)
print(s)

0     Alabama
1    Michigan
2     Montana
3      Oregon
Name: State, dtype: object

In [82]:
master_leads = pd.read_csv('/Users/justinbenfit/Desktop/yellowpages_scrape/report1642183754603.csv')
print(master_leads.head())

                                   Company / Account   Lead Source  \
0  Big Moose RV, & Boat Sales, Service, Camper Re...     Moneyball
1           Holifield Pest Management of Hattiesburg  Self-sourced
2                            Steve Nichols Insurance    Trade Show
3                                    Sandel Law Firm  Self-sourced
4    Duplicate - Checkered Flag FIAT of Newport News  Self-sourced

  Lead Status          Lead ID                                 Email  \
0     Nurture  00Q5G00000W1li0              mike@bigmooservsales.com
1     Nurture  00Q1P00000qBIpR  holifieldpestofhattiesburg@gmail.com
2    Prospect  00Q1P00000r3nfJ                        steve@snis.com
3       Aware  00Q1P00000qB2I5                     kss@sandellaw.com
4     Nurture  00Q1P00000qBKWW                                   NaN

                        Website           Phone                      Street  \
0  https://bigmooservsales.com/  (603) 978-9697  495 White Mountain Highway
1                           NaN    601-545-3187                PO Box 15998
2                           NaN    909-980-3937                         NaN
3                 sandellaw.com      4407721000     3250 West Market Street
4                           NaN    757-369-3565                         NaN

          City     State/Province  ...        Country      Lead Owner  \
0      Ossipee      New Hampshire  ...  United States  Coleson Hofman
1  Hattiesburg        Mississippi  ...  United States    Scott Allred
2       Shelby  US Virgin Islands  ...  United States  Spencer Taylor
3     Fairlawn               Ohio  ...  United States        Cam Hale
4          NaN           Virginia  ...  United States      Deed Iqbal

  Podium User ID         Sub-Vertical               Vertical Converted  \
0            NaN            RV Dealer                   Auto         0
1            NaN         Pest Control          Home Services         0
2            NaN  Insurance Brokerage  Professional Services         0
3            NaN             Law Firm  Professional Services         0
4       481864.0   OEM/New Car Dealer                   Auto         0

   Weekly Scrape Likely Sub-Vertical Identifier           Acquisition Source  \
0            NaN                            NaN             Moneyball - 4/20
1  mass_upload_1                            NaN  Sales Ops Scrape 10/18/2021
2            NaN                            NaN                         BigX
3  mass_upload_1                            NaN                     Zoominfo
4            NaN                            NaN                          NaN

                                         Description
0  05/14/21 they have plenty of work right now, t...
1                                                NaN
2                                                NaN
3  Spoke with Kevin on 4/13/20, refused to do any...
4  Duplicate lead \nOL link \nhttps://podium.ligh...

[5 rows x 21 columns]